/* styles.css */

:root {
    --primary-color: rgba(138, 52, 219, 0.281);/* Main blue color */
    --secondary-color: #e74c3c;  /* Main red color */
    --background-color: rgba(49, 11, 85, 0.281)515;  /* Main background color */
    --text-color: #ecf0f1;  /* Main text color */
    --border-color: #0a010ebe;  /* Border color */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(0px);
}

.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
    background: rgba(52, 73, 94, 0.7); /* Fallback color in case the image is not loaded or supported */
}

.header {
    max-width: 510px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    display: flex;
    padding: 8.5px;
    text-align: center;
    font-size: auto;
    background-color: var(--border-color);
}

.header h1 {
    margin: 0;
    color: #ecf0f1;
}

.header img {
    width: 40px;
    /* Adjust the width as needed */
    margin-right: 10px;
    /* Add spacing between the logo and text */
}

#message-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 25px;
    background: rgb(61 1 50 / 58%);
}

#message-container::-webkit-scrollbar {
    width: 12px;
}

#message-container::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 6px;
    /* border: 3px solid rgba(75, 111, 146, 0.712); Border around the thumb */
}

#message-container::-webkit-scrollbar-track {
    background-color: transparent;
    /* Transparent track */
}

#message-container::-webkit-scrollbar-corner {
    background-color: transparent;
    /* Transparent corner */
}

.message-bubble {
    background-color: var(--primary-color);
    color: var(--text-color);
    /* margin: auto; */
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    position: relative;
    font-size: 14px;
}

.message-bubble.darker {
    background-color: rgba(14, 2, 26, 0.281);
}

.message-bubble.user-message {
    background-color: #18021d15; 
}

.message-bubble.gpt-message {
    background-color: rgba(22, 2, 26, 0.486);
    color: #fff; /* Set text color for GPT messages */
}


.sender-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-name {
    font-weight: bold;
    margin-bottom: 2px;
    color: #c250a7;
}


#bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #160a18ad;
    padding: 12px;
    max-height: 75px;
    /* Set a maximum height for the bottom section */
    width: auto;
}

/* Add this to your existing CSS file */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust as needed */
}

#message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#message-form input,
#message-form button {
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #ecf0f1;
    width: 430px;
}

#message-form button {
    cursor: pointer;
    width: 55px;
    border-radius: 25px;
    transition: background-color 0.12s ease;
}

#message-form button:hover {
    background-color: #a82a45;
}

#reset-button {
    padding: 8px 13px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    background-color: rgba(24, 122, 81, 0.863);
    color: #ecf0f1;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.12s ease-out;
}

#reset-button:hover {
    background-color: rgba(11, 59, 39, 0.863);
}

/* Add this to your existing CSS file */
.upload-button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #e74c3c;
    /* Different color for the upload button */
    color: #ecf0f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #c0392b;
    /* Darker color on hover */
}

@keyframes resetAnimation {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(-50%); /* Center the animation */
    }
    to {
      opacity: 1;
    }
  }
  
  .reset-animation {
    animation: resetAnimation 1s ease;
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) translateY(-50%);
  }