
:root {
    --primary-color: rgba(138, 52, 219, 0.281);/* Main blue color */
    --secondary-color: #e74c3c;  /* Main red color */
    --background-color: rgba(49, 11, 85, 0.281)515;  /* Main background color */
    --text-color: #ecf0f1;  /* Main text color */
    --border-color: #0a010ebe;  /* Border color */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(0px);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
    background: rgba(52, 73, 94, 0.7); /* Fallback color in case the image is not loaded or supported */
}

.header {
    display: flex;
    width: 100vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 14.5px;
    text-align: center;
    font-size: auto;
    background-color: var(--border-color);
    justify-content: space-between;
}


/* Header and Logo Area */ 

.logo-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo-section img {
    width: 40px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    color: #ecf0f1;
    font-size: xx-large;
    padding: 0px 10px 0px 50px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.github-icon {
    font-size: 32px;
    color: #ecf0f1;
    margin-right: 20px;
    text-decoration: blink;
}

.documentation-button {
    padding: 8px 13px;
    /* border: none; */
    border-radius: 15px;
    background-color: rgba(24, 122, 81, 0.863);
    color: #ecf0f1;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.12s ease-out;
    text-decoration: none;
    margin-right: 17px;
}

.documentation-button:hover {
    background-color: rgba(11, 59, 39, 0.863);
}

.header img {
    width: 40px;
    margin-right: 10px;
}


/* Message Container  */

#message-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    background: rgb(72 4 56 / 49%);
}

#message-container::-webkit-scrollbar {
    width: 12px;
}

#message-container::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 6px;
}

#message-container::-webkit-scrollbar-track {
    background-color: transparent;
    /* Transparent track */
}

#message-container::-webkit-scrollbar-corner {
    background-color: transparent;
    /* Transparent corner */
}

.message-bubble {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    position: relative;
    font-size: 15px;
    max-width: 80%;
}

.user-message {
    background-color: #18021d15; 
}

.gpt-message {
    padding: 15px;
    background-color: #1102147c;
    color: #fff; /* Set text color for GPT messages */
}


/* Bottom Section Area */

#bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative; /* Maintain position relative */
    background-color: #000000;
}

#message-form {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#message {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #33333375;
    color: var(--text-color);
    font-size: 15px;
}

.send-button {
    border: none;
    border-radius: 15px;
    margin-right: 15px;
    padding: 10px 20px;
    background-color: #1e794fd8;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.15s ease-out;
}

.send-button:hover {
    background-color: rgba(189, 9, 84, 0.884);
}

.reset-button {
    padding: 8px 13px;
    border: none;
    border-radius: 15px;
    background-color: #63187adc;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.12s ease-out;
    align-self: center;
    height: 38px;
}

.reset-button:hover {
    background-color: #290b3bdc;
}

/* Maintain the media query for responsive design */
@media (max-width: 768px) {
    #bottom-section {
        flex-direction: column;
    }

    .image-upload-area,
    #message-form {
        width: 100%; /* Full width on small screens */
    }

    .send-button,
    .reset-button {
        width: 100%; /* Full width on small screens */
    }
}