<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sage.AI</title>
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-5e2ESR8Ycmos6g3gAKr1Jvwye8sW4U1u/cAKulfVJnkakCcMqhOudbtPnvJ+nbv7" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="App Logo">
        <h1>Sage.AI</h1>
    </div>
    <div class="container">
        <div id="message-container">
            <div class="animation-placeholder">
                <img src="/static/animation.gif" alt="Null Chat Animation">
            </div>
            
            <!-- Conversations -->
            {% for msg in messages %}
                <div class="message-bubble darker">
                    <p>{{ msg.message }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="bottom-section" class="{% if not messages %}center{% endif %}">

            <form id="message-form">
                <input type="text" id="message" placeholder="I'm as wise as a Sage. Ask Me Anything !" required>
                <button type="submit" class="send-button"><i class="fas fa-paper-plane"></i></button>
            </form>
            <button id="reset-button" onclick="resetConversation()">Reset Chat</button>
        </div>
    
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        
    </body>
</html>
